@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
	--dark-elem: #2b3945;
	--dark-bg: #202c37;
	--light-text: #111517;
	--light-input: #858585;
	--light-bg: #e7e7e7;
	--dark-text: #fff;
	--light-elem: #fff;
	--base-font-size: 14px;
	--base-font: "Nunito Sans", sans-serif;
	--font-light-weight: 300;
	--font-semi-bold: 600;
	--font-bold: 800;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--base-font);
	font-size: var(--base-font-size);
}
